body {
	font-family: "Amatic SC", cursive;
	background-color: #f1faee;

}
.weatherApp{
	max-width:800px;
	margin:0 auto;
	padding:40px;
	border: solid #c31e25;
	border-radius: 40px;
	background-image: url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcR0xG_V_B-kFgdJYAU_ngljh2_ily3GIIG14A&usqp=CAU");
	background-repeat: no-repeat;
	background-size: 800px 1000px;
	max-height: 950px;
	position: absolute;
	top:50px;
	left:80px;
	
	
}
h1 {
	text-align: center;
	margin: 5px;
	padding: 25px;
	position: relative;
	top: 20px;
	left:10px;
	letter-spacing: 2px;
	font-size: 40px;
	
	border: solid 2px rgba(144, 145, 148, 0);
	background-color:rgba(144, 145, 148, 0.6);
	border-radius: 20px;
	color:white;
}
ul{
	list-style-type: none;
}

.weather{
	list-style-type: none;
	position: relative;
	top:10px;
	left:390px;
	font-size:25px;
	border: solid 2px rgba(144, 145, 148, 0);
	background-color:rgba(144, 145, 148, 0.6);
	border-radius: 20px;
	color:white;
	max-width: 180px;

}
.cityTime{
	position:relative;
	margin:0 auto;
	padding-left:40px;
	top:-220px;
	right:20px;
	color:;
}
.completeForecast{
	position: relative;
	top:50px;
	left:20px
	
}
input {
	width: 250px;
	margin: 5px;
	margin-left: 100px;
	padding: 10px;
	border-radius: 20px;
	position: relative;
	top: 30px;
	left: -50px;
	color: #523b58;
	font-size: 25px;
}
button {
	position: relative;
	width: 100px;
	margin: 5px;
	margin-left: 15px;
	padding: 15px;
	top: -40px;
	left: 300px;
	border-radius: 10px;
	color: #c31e25;
	font-weight: 20px;
}
h2 {
	text-align: center;
	position: relative;
	width: 320px;
	margin: 5px;
	margin-left: 5px;
	padding: 15px;
	border: solid 3px black;
	border-radius: 10px;
	position: relative;
	left: 50px;
	top: -80px;
	word-spacing: 10px;
	color: white;
}
.cityTime{
	text-align: center;
	position: relative;
	top:-20px;
	left:4px;
	word-spacing: 20px;
	letter-spacing: 2px;
	margin: 0 auto;
	border: solid 2px rgba(144, 145, 148, 0);
	background-color:rgba(144, 145, 148, 0.6);
	border-radius: 20px;
	padding:20px;
	color:white;
}
h4 {
	position: relative;
	text-align: center;
	left: 1100px;
	bottom: 20px;
}
.temperature {
	position: relative;
	top: 10px;
	right: 200px;
}
.days {
	margin: 30px;
	margin-left: 350px;
	margin-right: 350px;
	padding: 10px;
	font-size: 40px;
	position: relative;
	right: 340px;
	top: -60px;
	text-align: center;
	max-width:500px;
}
.forecast {
	position: relative;
	top: 10px;
	right: 275px;
	margin: 20px;
	margin-left: 300px;
	margin-right: 300px;
	padding: 10px;
	padding-left: 15px;
	font-family: "Amatic SC", cursive;
	font-size: 35px;
	max-width:500px;
}
.col {
	text-align: center;
}

.date {
	position: relative;
	top: -210px;
	right: 301px;
	margin: 30px;
	margin-left: 310px;
	margin-right: 304px;
	padding: 10px;
	padding-left: 15px;
	font-family: "Amatic SC", cursive;
	font-size: 30px;
	max-width:500px;

}


.weatherIcons {
	position: relative;
	top: -250px;
	right: 305px;
	margin: 20px;
	margin-left: 320px;
	margin-right: 300px;
	padding: 10px;
	padding-left: 10px;
	font-family: "Amatic SC", cursive;
	font-size: 45px;
	color: #c31e25;
	max-width:500px;
	line-height: -20px;
}



.highLowTemp {
	position: relative;
	top: -250px;
	right: 270px;
	margin: 20px;
	margin-left: 300px;
	margin-right: 300px;
	padding: 20px;
	padding-left: 15px;
	font-family: "Amatic SC", cursive;
	font-size: 25px;
	color: #141217;
	max-width: 500px;
	line-height:-10px;
}
strong {
	color: #ed2225;
	font-weight: bolder;
	
}
a{
	color:#141217;
	position:relative;
	max-width:400px;
	left: 930px;
	bottom:100px;
	font-size: 3s0px;
}

